    body {
        font-family: Arial, sans-serif;
        background: #f7f7f7;
        display: flex;
        justify-content: center;
        padding: 40px;
    }

    .card {
        background: white;
        padding: 40px;
        width: 650px;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0,0,0,0.08);
        border: 2px solid #000;
    }

    h1 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 32px;
    }

    .subtitle {
        text-align: center;
        color: #888;
        margin-bottom: 30px;
    }

    .timeline {
  width: 600px;
  margin: 50px auto;
  border-left: 2px solid #000;
  padding-left: 30px;
}

.timeline-item {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.date {
  width: 150px;
  color: #777;
  font-size: 14px;
  margin-right: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  margin-right: 20px;
}

.text {
  font-size: 16px;
}


    .item {
        position: relative;
        margin-bottom: 40px;
    }

    .item::before {
        content: "";
        position: absolute;
        left: -41px;
        top: 4px;
        width: 12px;
        height: 12px;
        background: black;
        border-radius: 50%;
    }

    .date {
        color: #aaa;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .title {
        font-size: 17px;
        font-weight: bold;
    }

    .button {
        display: block;
        width: fit-content;
        margin: 40px auto 0;
        padding: 14px 26px;
        font-size: 15px;
        border-radius: 10px;
        background: black;
        color: white;
        text-decoration: none;
        transition: 0.2s;
    }

    .button:hover {
        opacity: 0.8;
    }
